/*
CSS 3 Docs
http://qooxdoo.org/documentation/general/webkit_css_styles
http://trac.webkit.org/browser/trunk/LayoutTests//fast/css
*/

html, body {
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  -webkit-user-select: none;
}

body {
  font-family: Apex,"Helvetica Neue","HelveticaNeue","Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #71829E;
  cursor: pointer;
}

label {
  font-size: 13px;
}

input[type="checkbox"] {
  -khtml-appearance: none;
  background: url(../images/check-box-bezel.png) no-repeat;
  width: 15px;
  height: 16px;
}

input[type="checkbox"]:checked {
  background: url(../images/check-box-bezel-selected.png) no-repeat;
}

input[type="radio"] {
  -khtml-appearance: none;
  background: url(../images/radio-bezel.png) no-repeat;
  width: 17px;
  height: 17px;
}

input[type="radio"]:checked {
  border: none;
  background: url(../images/radio-bezel-selected.png) no-repeat;
}

input[type="range"] {
  -khtml-appearance: none; 
  -webkit-border-image: url(../images/slider-horizontal-track.png) 2 4 2 4 / 2px 4px 2px 4px repeat repeat;
  height: 5px;
  padding: 0;
}

input, textarea {
  font-size: 12px;
  color: #000;
  font-weight: normal;
  padding: 4px;
}

textarea {
  /* To give the same inset shadows as input[type='text'] */
  -webkit-appearance: textfield;
  resize: none;
  padding: 4px;
  /* 
    Hack to make the same size as text inputs,
    since their native border isn't taken into
    account when calculating width.
  */
  padding-right: 6px;
}

select {
  -khtml-appearance: none;
  background: url(../images/select-updown.png) center right no-repeat, 
              -webkit-gradient(linear, left top, left bottom, from(#F5F5F5), to(#CCCCCC));
  min-height: 24px;
  border: 1px solid #BDBDBD;
  border-bottom-color: #949494;
  padding: 0 35px 0 5px;
  outline: none;
}

select:active {
  outline: none;
}

::-webkit-input-placeholder {
  color: #8F8F8F;
}

button {
  margin: 5px;
  -khtml-appearance: none;
  -moz-appearance: none;
  background: none;
  padding: 4px 9px;
  font-family: Apex, "Helvetica Neue", "HelveticaNeue", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: #4F4F4F;
  text-shadow: 0px 1px 1px #fff;

  border-width: 1px;
  border-style: solid;
  border-color: #AFAFAF #9A9A9A #828282 #9A9A9A;
  
  background: #E9E9E9;
  background: -webkit-gradient(linear, left top, left bottom, from(#E9E9E9), to(#B8B8B7));
  background: -moz-linear-gradient(top, #E9E9E9, #B8B8B7);
  -webkit-box-shadow: inset 0 1px 1px #F5F5F5;
  -moz-box-shadow: inset 0 1px 1px #F5F5F5;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  cursor: pointer;
}
button:hover,
button:focus {
  box-shadow: 0 0 7px rgba(0,0,0,0.4), inset 0 1px 0 rgba(255,255,255,0.5);
  -webkit-box-shadow: 0 0 7px rgba(0,0,0,0.4), inset 0 1px 0 rgba(255,255,255,0.5);
  -moz-box-shadow: 0 0 7px rgba(0,0,0,0.4), inset 0 1px 0 rgba(255,255,255,0.5);
}

button.default, button.blue {
  border-color: #7EA1B7 #5D7C8F #4C6B7E #5D7C8F;
  color: #1C4257;
  background: #B2D9F0;
  background: -webkit-gradient(linear, left top, left bottom, from(#B2D9F0), to(#78A1BC));
  background: -moz-linear-gradient(top, #B2D9F0, #78A1BC);
  -webkit-box-shadow: inset 0 1px 1px #D9EDF9;
  -moz-box-shadow: inset 0 1px 1px #D9EDF9;
}
button.default:hover, button.blue:hover,
button.default:focus, button.blue:focus {
  box-shadow: 0 0 7px #53a6d5, inset 0 1px 0 rgba(255,255,255,0.5);
  -webkit-box-shadow: 0 0 7px #53a6d5, inset 0 1px 0 rgba(255,255,255,0.5);
  -moz-box-shadow: 0 0 7px #53a6d5, inset 0 1px 0 rgba(255,255,255,0.5);
  -o-box-shadow: 0 0 7px #53a6d5, inset 0 1px 0 rgba(255,255,255,0.5);
}

button.red {
  color: #4F0F0E;
  background: #E56856;
  background: -webkit-gradient(linear, left top, left bottom, from(#EE8679), to(#B94543));
  background: -moz-linear-gradient(top, #EE8679, #B94543);
  -webkit-box-shadow: inset 0 1px 1px #F4C3BD;
  -moz-box-shadow: inset 0 1px 1px #F4C3BD;
  text-shadow: 0 1px 1px #FA9287;
  border-color: #A2403E;
}
button.red:hover, button.red:focus {
  box-shadow: 0 0 7px #B94543, inset 0 1px 0 rgba(255,255,255,0.5);
  -webkit-box-shadow: 0 0 7px #B94543, inset 0 1px 0 rgba(255,255,255,0.5);
  -moz-box-shadow: 0 0 7px #B94543, inset 0 1px 0 rgba(255,255,255,0.5);
  -o-box-shadow: 0 0 7px #B94543, inset 0 1px 0 rgba(255,255,255,0.5);
}

button.green {
  color: #374C29;
  background: #A9CD7E;
  background: -webkit-gradient(linear, left top, left bottom, from(#A9CD7E), to(#81A558));
  background: -moz-linear-gradient(top, #A9CD7E, #81A558);
  border-color: #92BA63 #8AB05E #81A558 #8AB05E;
  -webkit-box-shadow: inset 0 1px 1px #CDE2B2;
  -moz-box-shadow: inset 0 1px 1px #CDE2B2;
  text-shadow: 0 1px 1px #C9DBB4;
}
button.green:hover, button.green:focus {
  box-shadow: 0 0 7px #81A558, inset 0 1px 0 rgba(255,255,255,0.5);
  -webkit-box-shadow: 0 0 7px #81A558, inset 0 1px 0 rgba(255,255,255,0.5);
  -moz-box-shadow: 0 0 7px #81A558, inset 0 1px 0 rgba(255,255,255,0.5);
  -o-box-shadow: 0 0 7px #81A558, inset 0 1px 0 rgba(255,255,255,0.5);
}

button:active:not(:disabled) {
  border-color: #B6B6B6 #989898 #AEAEAE #989898;
  background: #B6B6B6;
  background: -webkit-gradient(linear, left top, left bottom, from(#B6B6B6), to(#E6E6E6));
  background: -moz-linear-gradient(top, #B6B6B6, #E6E6E6);
  -webkit-box-shadow: inset 0 -1px 1px #F4F4F4;
  -moz-box-shadow: inset 0 -1px 1px #F4F4F4;
}

button.default:active:not(:disabled), button.blue:active:not(:disabled) {
  border-color: #4A697C #618296 #7B9FB5 #618296;
  background: #76A0B9;
  background: -webkit-gradient(linear, left top, left bottom, from(#76A0B9), to(#B0D7EF));
  background: -moz-linear-gradient(top, #76A0B9, #B0D7EF);
  -webkit-box-shadow: inset 0 -1px 1px #D8EDF8;
  -moz-box-shadow: inset 0 -1px 1px #D8EDF8;
}

button.red:active:not(:disabled) {
  border-color: #A2403E;
  background: #B94543;
  background: -webkit-gradient(linear, left top, left bottom, from(#B94543), to(#EE8679));
  background: -moz-linear-gradient(top, #B94543, #EE8679);
  -webkit-box-shadow: inset 0 -1px 1px #F4C3BD;
  -moz-box-shadow: inset 0 -1px 1px #F4C3BD;
}

button.green:active:not(:disabled) {
  color: #374C29;
  background: #81A558;
  background: -webkit-gradient(linear, left top, left bottom, from(#81A558), to(#A9CD7E));
  background: -moz-linear-gradient(top, #81A558, #A9CD7E);
  border-color: #92BA63 #8AB05E #81A558 #8AB05E;
  -webkit-box-shadow: inset 0px -1px 1px #CDE2B2;
  -moz-box-shadow: inset 0px -1px 1px #CDE2B2;
}

button:disabled, button:hover:disabled {
  opacity: 0.5;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  cursor: default;
}

::-webkit-scrollbar {
  width: 17px;
  height: 17px;
}

::-webkit-scrollbar-button:vertical:end {
  background: url(../images/scroller-down-arrow.png) no-repeat;
  width: 17px;
  height: 20px;
}

::-webkit-scrollbar-button:vertical:start {
  background: url(../images/scroller-up-arrow.png) no-repeat;
  width: 17px;
  height: 22px;
}

::-webkit-scrollbar-button:horizontal:start {
  background: url(../images/scroller-left-arrow.png) no-repeat;
  width: 22px;
  height: 17px;
}

::-webkit-scrollbar-button:horizontal:end {
  background: url(../images/scroller-right-arrow.png) no-repeat;
  width: 22px;
  height: 17px;
}

::-webkit-scrollbar-thumb:vertical {
  -webkit-border-image: url(../images/scroller-vertical-knob.png) 8 0 8 0 / 8px 0 8px 0 stretch repeat;
}

::-webkit-scrollbar-thumb:horizontal {
  -webkit-border-image: url(../images/scroller-horizontal-knob.png) 7 9 7 9 / 7px 9px 7px 9px stretch repeat;
}

::-webkit-scrollbar-track-piece:vertical:start {
  background-image: url(../images/scroller-up-arrow-track.png), url(../images/scroller-vertical-track.png);
  background-repeat: no-repeat, repeat-y;
}

::-webkit-scrollbar-track-piece:vertical:end {
  background-image: url(../images/scroller-down-arrow-track.png), url(../images/scroller-vertical-track.png);
  background-repeat: no-repeat, repeat-y;
  background-position: bottom left, 0 0;
}

::-webkit-scrollbar-track-piece:horizontal:end {
  background-image: url(../images/scroller-right-arrow-track.png), url(../images/scroller-horizontal-track.png);
  background-repeat: no-repeat, repeat-x;
  background-position: bottom right, 0 0;
}

::-webkit-scrollbar-track-piece:horizontal:start {
  background-image: url(../images/scroller-left-arrow-track.png), url(../images/scroller-horizontal-track.png);
  background-repeat: no-repeat, repeat-x;
}


/* Turn on single button up on top, and down on bottom */
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    display: block;
}
 
/* Turn off the down area up on top, and up area on bottom */
::-webkit-scrollbar-button:start:increment,
::-webkit-scrollbar-button:end:decrement {
    display: none;
}

::-webkit-slider-thumb { 
  -khtml-appearance: none; 
  background: url(../images/slider-knob.png) no-repeat; 
  width: 23px; 
  height: 24px;
}

/*This doesn't seem to be implemented yet*/
::-webkit-slider-thumb:active { 
  background: url(../images/slider-knob-highlighted.png) no-repeat;
}

.copy {
  cursor: copy;
}

.progress {
  cursor: progress;
}